#chart circle::after {
  content: '\A';
  width: 999px;
  display: inline-block;
  height: 999px;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 12;
  background-color: black;
}
#chart circle {
  stroke: black;

}